@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, hsla(73, 57%, 27%, 0.5) 0%, hsla(221, 38%, 37%, 0.5) 100%);
}

select {
    font-family: 'Outfit';
    color: grey;
    padding-left: 5px;
}

:root {
    --primary-color: #5D6E1E;
    --background-main: #F7F5FD;
    --blue-primary: #3B5284;
    --table-odd-background-color: #D8DADF;
}

/**/
.main_container {
    display: flex;
    flex-direction: row;
}

/*formulir*/
#main_logo {
    width: 300px;
    height: auto;
}

.form_container {
    background-color: white;
    margin: 50px 10px 40px 40px;
    width: 40%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.asal_sekolah_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.asal_sekolah_container label {
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.asal_sekolah_container select {
    border: 1px solid #E4E4E4;
    height: 28px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.asal_sekolah_container select:focus {
    outline: 2px solid #E4E4E4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.password_container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.password_container label {
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.password_container input {
    border: 1px solid #E4E4E4;
    height: 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.password_container input:focus {
    outline: 2px solid #E4E4E4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.ingat_akun_lupa_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.ingat_akun_container input[type="checkbox"] {
    border: 1px solid #E4E4E4;
    background-color: var(--primary-color);
}

.ingat_akun_container label {
    font-family: 'Outfit';
    font-size: 13px;
    font-weight: 500;
}

#lupa_password {
    color: var(--primary-color);
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 13px;
}

#masuk_button {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    height: 35px;
    color: white;
    font-family: 'Outfit';
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#belum_punya_akun {
    font-family: 'Outfit';
    font-size: 13px;
    font-weight: 500px;
    text-align: center;
}

#belum_punya_akun a {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

.icons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    justify-content: space-evenly;
}

.icons_container img {
    margin-top: 80px;
    width: 60%
}

#welcome_text {
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-top: 30px;
}

#its_time_text {
    font-family: 'Outfit';
    font-weight: 200;
    color: white;
    font-size: 20px;
    margin-top: -5px;
}

#iconarrow {
    position: absolute;
    z-index: -1;
    right: 10%;
    width: 10%;
    top: 50px;
}

#iconpop {
    position: absolute;
    z-index: -1;
    right: 45%;
    width: 10%;
}